* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
header h1 {
    display: inline-block;
    font-size: 40px;
    background-color: rgb(157, 190, 190);
    padding: 10px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
 

 a{
    text-decoration: underline white;
    color:#fff;
    font-size:25 ;
}
 
  
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    background-color: #b9c6ae;
    display: inline-block;
  }
  .side1{
    height:200px;
    font-size: 35px;
    border-right: 5px solid black;
    text-align:right;
    padding:5px;
    margin-top: 0px;

  } 
  .side2{
    height:200px;
    font-size: 35px;
    border-right: 5px solid red;
    text-align:right;
    padding:5px;
    margin-top: 0px;
  }

  .side3{
    height:200px;
    font-size: 35px;
    border-right: 5px solid red;
    text-align:right;
    padding:5px;
    margin-top: 0px;
  }
  
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    text-decoration: none;
  }
  footer a{
    text-decoration: none;
    
  }

   .product-intro {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    
  }
  
  
  .product-first {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: 75%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card1 {
    border-style: solid ;
    border-color: #b9c6ae;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    flex: 0 0 400px;
  }

  .card1 header {
    position:absolute;
    background-color: #b9c6ae;
    padding: 20px;
    width:25%;
    height:60px;
    margin-top:-70px;
    margin-left:-10px;

    
  }
  
  .card1 p {
    position: absolute;
    color:#fff;
    text-align: left;
    margin-left:15px;
  }
  
  .card1 img {
    width: 100%;
    height:50%;
  } 

  .products {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .card {
    border-style: solid;
    border-color: #b9c6ae; 
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    margin: 10px;
  }
  
  .card header {
    background-color: #b9c6ae;
    padding: 20px;
    position:absolute;
    margin-top: -70px;
    margin-left:-10px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height:100%;
  } 
  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }