* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
header h1 {
    display: inline-block;
    font-size: 40px;
    background-color: rgb(157, 190, 190);
    padding: 10px;
}
nav {
  display: flex;
  background-color: #13293d;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px 20px;
}

 a{
    text-decoration: underline white;
    color:#fff;
    font-size:25 ;
}
 
  
 
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  padding-left: 80px;
  font-size:30px;
  border-right: 5px solid black;
  margin-bottom: 10px;

}

.product-intro {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
p{
  margin:none;
  text-align: center;
  display:flex;
}

.end{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 1 100%;
  text-align: center;
  padding-bottom: 0%;
  height: 100px;
}
.end a{
  padding: 5%;
  width: 100%;
  color:black;
  font-size: 20px;
}

/* footer{
  flex: 4;
  padding: 20px;
  text-align: center;
  background: #13293d;
  height: 20%;
  
}

footer a{
  padding:5px;
  text-decoration: none;
  color: white;
  font-size: 25px;
} */


.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one {
  padding: 10px;
  flex: 0 1 100%;
  margin-bottom: 10px;
  padding-bottom: 0%;
  width:100%;
}
.one p{

  text-align: center;
}
.two {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex: 0 1 100%;
  margin-bottom: 0%;
  padding: 10px;
}

.two img {
  width: 100%;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 2 400px;
  margin: 3px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav{
    flex-direction: column;
  }
  aside{
    text-align: center;
    border-bottom: 5px solid black;
    border-right:none;
  }
  div a{
    flex-direction: column;
  }
}
.card:hover{
  box-shadow: 5px 10px 25px rgba(52, 20, 197, 0.4);
}
.two:hover{
  box-shadow: 5px 10px 25px rgba(52, 20, 197, 0.4);
}

  a:focus{
    color:red;
  }